/* Google Font's */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

/* Asterisk to override default styles added by browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #1bace4;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navigation & Menu */

#menu {
    list-style-type: none;
}

#menu a {
    font-size: 130%;
    font-family: 'Oswald' sans-serif;
    letter-spacing: 2px;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #1bace4;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content styles*/
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

#movement {
    width: 90%;
    margin: 20px auto;
    letter-spacing: 2px;
}

#movement h2 {
    font-size: 110%;
    padding: 20px 0;
}

#movement p {
    font-size: 110%;
}

#framsida {
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle-framsida {
    background: url('../images/framsida.webp') no-repeat top center / cover;
        width: 90vw;
        height: 90vw;
        margin-bottom: 20px;
        /* Makes the square image into a circle */
        border-radius: 50%;
        max-width: 300px;
        max-height: 300px;
}

/* Footer */
#social-networks {
    background-color: #1bace4;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: black;
}