/* Google Font's */

/* Asterisk to override default styles added by browsers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #1bace4;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Navigation & Menu */

#menu {
    list-style-type: none;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #1bace4;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content styles*/
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

/* Footer */
#social-networks {
    background-color: #1bace4;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: black;
}